@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('assets/fonts/bebasneue/bebasneuethin.woff2') format('woff2'), url('assets/fonts/bebasneue/bebasneuethin.woff') format('woff'), url('assets/fonts/bebasneue/bebasneuethin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Light'), local('BebasNeue-Light'), url('assets/fonts/bebasneue/bebasneuelight.woff2') format('woff2'), url('assets/fonts/bebasneue/bebasneuelight.woff') format('woff'), url('assets/fonts/bebasneue/bebasneuelight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Book'), local('BebasNeueBook'), url('assets/fonts/bebasneue/bebasneuebook.woff2') format('woff2'), url('assets/fonts/bebasneue/bebasneuebook.woff') format('woff'), url('assets/fonts/bebasneue/bebasneuebook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('assets/fonts/bebasneue/bebasneueregular.woff2') format('woff2'), url('assets/fonts/bebasneue/bebasneueregular.woff') format('woff'), url('assets/fonts/bebasneue/bebasneueregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('assets/fonts/bebasneue/bebasneuebold.woff2') format('woff2'), url('assets/fonts/bebasneue/bebasneuebold.woff') format('woff'), url('assets/fonts/bebasneue/bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  
  
  
  
  
  
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('assets/fonts/roboto/Robotothin.woff2') format('woff2'), url('assets/fonts/roboto/Robotothin.woff') format('woff'), url('assets/fonts/roboto/Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('assets/fonts/roboto/Robotothinitalic.woff2') format('woff2'), url('assets/fonts/roboto/Robotothinitalic.woff') format('woff'), url('assets/fonts/roboto/Robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('assets/fonts/roboto/Robotolight.woff2') format('woff2'), url('assets/fonts/roboto/Robotolight.woff') format('woff'), url('assets/fonts/roboto/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('assets/fonts/roboto/Robotolightitalic.woff2') format('woff2'), url('assets/fonts/roboto/Robotolightitalic.woff') format('woff'), url('assets/fonts/roboto/Robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('assets/fonts/roboto/Roboto.woff2') format('woff2'), url('assets/fonts/roboto/Roboto.woff') format('woff'), url('assets/fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('assets/fonts/roboto/Robotoitalic.woff2') format('woff2'), url('assets/fonts/roboto/Robotoitalic.woff') format('woff'), url('assets/fonts/roboto/Robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('assets/fonts/roboto/Robotomedium.woff2') format('woff2'), url('assets/fonts/roboto/Robotomedium.woff') format('woff'), url('assets/fonts/roboto/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('assets/fonts/roboto/Robotomediumitalic.woff2') format('woff2'), url('assets/fonts/roboto/Robotomediumitalic.woff') format('woff'), url('assets/fonts/roboto/Robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('assets/fonts/roboto/Robotobold.woff2') format('woff2'), url('assets/fonts/roboto/Robotobold.woff') format('woff'), url('assets/fonts/roboto/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('assets/fonts/roboto/Robotobolditalic.woff2') format('woff2'), url('assets/fonts/roboto/Robotobolditalic.woff') format('woff'), url('assets/fonts/roboto/Robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('assets/fonts/roboto/Robotoblack.woff2') format('woff2'), url('assets/fonts/roboto/Robotoblack.woff') format('woff'), url('assets/fonts/roboto/Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('assets/fonts/roboto/Robotoblackitalic.woff2') format('woff2'), url('assets/fonts/roboto/Robotoblackitalic.woff') format('woff'), url('assets/fonts/roboto/Robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }
  
  
  
  
  @font-face {
    font-family: 'OpenGost Type A TT';
    src: local('OpenGost Type A TT Regular'), local('OpenGostTypeATT-Regular'), url('assets/fonts/opengosta/opengosttypeattregular.woff2') format('woff2'), url('assets/fonts/opengosta/opengosttypeattregular.woff') format('woff'), url('assets/fonts/opengosta/opengosttypeattregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  
  
  
  
  @font-face {
    font-family: 'ZnikomitNo25';
    src: local('ZnikomitNo25'), url('assets/fonts/znikomit25/znikomitno25.woff2') format('woff2'), url('assets/fonts/znikomit25/znikomitno25.woff') format('woff'), url('assets/fonts/znikomit25/znikomitno25.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }





.slide {
    @apply w-[95vw] lg:w-[90vw] h-[100vh] lg:h-[95dvh] bg-l rounded-lg shadow-[0_4dvh_20px_16px_rgba(0,0,0,0.3)] border-[3px] border-mr p-4 lg:p-10;
}

.h2-b {
    @apply text-center mb-[3.5vw] text-[6vw] lg:text-[3.5vw];
}

.text-b {
    @apply text-[4vw] lg:text-[2vw] text-justify mb-4 lg:mb-7;
}

.text-bl {
    @apply text-[3vw] lg:text-[1.5vw] text-justify mb-4;
}

.flex-box-s {
    @apply flex flex-col lg:flex-row gap-[3vw] items-center;
}

.image {
  @apply lg:h-[65dvh] lg:w-auto w-[90%]
}

.h-lit {
  @apply text-center mb-[2.5vw] text-[6vw] lg:text-[2.5vw];
}